body {
  margin: 0;
  background: linear-gradient(darkcyan, white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
